<?xml version="1.0"?>
<configuration>
	<LogFilesToParse>
		<LogFiles>
			<LogFile>
				<Source>SSH</Source>
				<PathAndMask>
					/var/log/auth*.log
					/var/log/secure*
					/var/log/messages
				</PathAndMask>
				<FailedLoginRegex>
					<![CDATA[
              failed\s+password\s+for\s+(?:invalid\s+user\s+)?(?<username>[^\s]+)\s+from\s+(?<ipaddress>[^\s]+)\s+port\s+[0-9]+\s+ssh|
              did\s+not\s+receive\s+identification\s+string\s+from\s+(?<ipaddress>[^\s]+)|
              connection\s+closed\s+by\s+(?:(?:invalid\s+user\s+)?(?<username>[^\s]+)\s+)?(?<ipaddress>[^\s]+)\s+port\s+[0-9]+\s+\[preauth\]|
              disconnected\s+from\s+(?:invalid\s+user\s+)?(?<username>[^\s]+)\s+(?<ipaddress>[^\s]+)\s+port\s+[0-9]+\s+\[preauth\]|
              disconnected\s+from\s+(?<ipaddress>[^\s]+)\s+port\s+[0-9]+\s+\[preauth\]|
              disconnected\s+from\s+authenticating\s+user\s+(?<username>[^\s]+)\s+(?<ipaddress>[^\s]+)\s+port\s+[0-9]+\s+\[preauth\]
          ]]>
				</FailedLoginRegex>
				<SuccessfulLoginRegex>
					<![CDATA[
            \s+Accepted\s+(?:password|publickey)\s+for\s+(?<username>[^\s]+)\s+from\s+(?<ipaddress>[^\s]+)\s+port\s+[0-9]+\s+ssh
          ]]>
				</SuccessfulLoginRegex>
				<PlatformRegex>Linux</PlatformRegex>
				<PingInterval>10000</PingInterval>
				<MaxFileSize>16777216</MaxFileSize>
				<FailedLoginThreshold>0</FailedLoginThreshold>
			</LogFile>
			<LogFile>
				<Source>IPBanCustom</Source>
				<PathAndMask>/var/log/ipbancustom*.log</PathAndMask>
				<FailedLoginRegex>
					<![CDATA[
            (?<timestamp>\d\d\d\d-\d\d-\d\d\s\d\d:\d\d:\d\d(?:\.\d+)?Z?)?(?:,\s)?ipban\sfailed\slogin,\sip\saddress:\s(?<ipaddress>[^,\n]+),\ssource:\s(?<source>[^,\n]+)?,\suser:\s(?<username>[^\s,]+)?
          ]]>
				</FailedLoginRegex>
				<SuccessfulLoginRegex>
					<![CDATA[
            (?<timestamp>\d\d\d\d-\d\d-\d\d\s\d\d:\d\d:\d\d(?:\.\d+)?Z?)?(?:,\s)?ipban\ssuccess\slogin,\sip\saddress:\s(?<ipaddress>[^,\n]+),\ssource:\s(?<source>[^,\n]+)?,\suser:\s(?<username>[^\s,]+)?
          ]]>
				</SuccessfulLoginRegex>
				<PlatformRegex>Linux</PlatformRegex>
				<PingInterval>10000</PingInterval>
				<MaxFileSize>16777216</MaxFileSize>
				<FailedLoginThreshold>0</FailedLoginThreshold>

			</LogFile>
			<LogFile>

				<Source>MSExchange</Source>
				<PathAndMask>
					C:/Program Files/Microsoft/Exchange Server/*/TransportRoles/Logs/FrontEnd/ProtocolLog/**.log
				</PathAndMask>
				<FailedLoginRegex>
					<![CDATA[
            ^(?<timestamp>[0-9TZ\-:\.]+),(?:.*?\\(?:External\sAuthenticated\sRelay|Internet\sRecive\sFrontend),)?(?:[^,\n]*,){3}(?<ipaddress>[^,\n]+).*?(?:(?:504\s5\.7\.4\sUnrecognized\sauthentication\stype)|(?:LogonDenied\n?.*?(?:User\:|User\sName\:)\s(?<username>[^\n,"]+)))
          ]]>
				</FailedLoginRegex>
				<SuccessfulLoginRegex>
					<![CDATA[
            ^(?<timestamp>[0-9TZ\-:\.]+)?,(?:[^,\n]*,){4}(?<ipaddress>[^,\n]+),(?:[^,\n]*),(?<username>[^,\n]*),authenticated
          ]]>
				</SuccessfulLoginRegex>
				<PlatformRegex>Windows</PlatformRegex>
				<PingInterval>10000</PingInterval>
				<MaxFileSize>16777216</MaxFileSize>
				<FailedLoginThreshold>0</FailedLoginThreshold>

			</LogFile>
			<LogFile>

				<Source>SmarterMail</Source>
				<PathAndMask>
					C:/Program Files/Smarter Tools/Smarter Mail/**/*.log
					C:/Program Files (x86)/Smarter Tools/Smarter Mail/**/*.log
					C:/SmarterMail/logs/**/*.log
					C:/Smarter Mail/logs/**/*.log
				</PathAndMask>
				<FailedLoginRegex>
					<![CDATA[
            \[(?<ipaddress>[^\]\n]+)\](?:\[[^\]\n]*\]\s+).*?(?:(?:The\sdomain\sgiven\sin\sthe\sEHLO\scommand\sviolates\san\sEHLO\sSMTP)|(?:IP\sblocked\sby\sbrute\sforce\sabuse\sdetection\srule)|(?:login\sfailed)|(?:IP\sblocked\sby\sbrute\sforce\sabuse\sdetection\srule)|(?:IP\sis\sblacklisted)|(?:too\smany\sauthentication\sfailures)|(?:Authentication\sfailed)|(?:EHLO\sSMTP\sblocking\srule)|(?:IP\sblocked\sby\sbrute\sforce\sabuse\sdetection\srule)|(?:IP\sis\sblacklisted)|(?:Mail\srejected\sdue\sto\sSMTP\sSpam\sBlocking)|(?:Too\smany\sauthentication\sfailures)|(?:rsp:\s554\sSecurity\sfailure))
          ]]>
				</FailedLoginRegex>
				<PlatformRegex>Windows</PlatformRegex>
				<PingInterval>10000</PingInterval>
				<MaxFileSize>16777216</MaxFileSize>
				<FailedLoginThreshold>0</FailedLoginThreshold>

			</LogFile>
			<LogFile>

				<Source>MailEnable</Source>
				<PathAndMask>
					C:/Program Files (x86)/Mail Enable/Logging/SMTP/SMTP-Activity-*.log
					C:/Program Files/Mail Enable/Logging/SMTP/SMTP-Activity-*.log
					C:/Program Files (x86)/Mail Enable/Logging/IMAP
					C:/Program Files/Mail Enable/Logging/IMAP
				</PathAndMask>
				<FailedLoginRegex>
					<![CDATA[
            ^(?<timestamp>[0-9\/:\s]+)SMTP\-IN\s+[^\s]+\s+[^\s]+\s(?<ipaddress>[^\s]+)\s+[^\s]+\s+[^\s]+\s+[^\s]+\s+Invalid\sUsername\sor\sPassword\s+[^\s]+\s+[^\s]+\s+(?<username>[^\n]+)$|
            ^(?<timestamp>[0-9\/:\s]+)IMAP\-IN\s+[^\s]+\s+(?<ipaddress>[^\s]+)\s+LOGIN\s+LOGIN\s+"(?<username>[^"]+)"\s+"[^"]+"\s+[^\s]+\s+NO\s+LOGIN\s+Failed\s+[^\s]+\s+Invalid\s+username\s+or\s+password[^\n]*$
          ]]>
				</FailedLoginRegex>
				<FailedLoginRegexTimestampFormat>MM/dd/yy HH:mm:ss</FailedLoginRegexTimestampFormat>
				<PlatformRegex>Windows</PlatformRegex>
				<PingInterval>10000</PingInterval>
				<MaxFileSize>16777216</MaxFileSize>
				<FailedLoginThreshold>0</FailedLoginThreshold>
			</LogFile>
			<LogFile>
				<Source>Apache</Source>
				<PathAndMask>
					C:/Program Files/Tomcat/logs/**/*access_log*.txt
					/var/log/httpd/access_log
				</PathAndMask>
				<FailedLoginRegex>
					<![CDATA[
            ^(?<ipaddress>[^\s]+)\s.*?\[(?<timestamp>.*?)\].*?(?:(?:\s40[03]\s(-|[0-9]+))|((php|md5sum|cgi-bin|joomla).*?\s40[03]\s[0-9]+|\s400\s-))[^\n]*
          ]]>
				</FailedLoginRegex>
				<FailedLoginRegexTimestampFormat>dd/MMM/yyyy:HH:mm:ss zzzz</FailedLoginRegexTimestampFormat>
				<PlatformRegex>Windows|Linux</PlatformRegex>
				<PingInterval>10000</PingInterval>
				<MaxFileSize>16777216</MaxFileSize>
				<FailedLoginThreshold>0</FailedLoginThreshold>

			</LogFile>
			<LogFile>

				<Source>IPBanCustom</Source>
				<PathAndMask>C:/IPBanCustomLogs/**/*.log</PathAndMask>
				<FailedLoginRegex>
					<![CDATA[
              (?<timestamp>\d\d\d\d-\d\d-\d\d\s\d\d:\d\d:\d\d(?:\.\d+)?Z?)?(?:,\s)?ipban\sfailed\slogin,\sip\saddress:\s(?<ipaddress>[^,\n]+),\ssource:\s(?<source>[^,\n]+)?,\suser:\s(?<username>[^\s,]+)?
          ]]>
				</FailedLoginRegex>
				<SuccessfulLoginRegex>
					<![CDATA[
              (?<timestamp>\d\d\d\d-\d\d-\d\d\s\d\d:\d\d:\d\d(?:\.\d+)?Z?)?(?:,\s)?ipban\ssuccess\slogin,\sip\saddress:\s(?<ipaddress>[^,\n]+),\ssource:\s(?<source>[^,\n]+)?,\suser:\s(?<username>[^\s,]+)?
          ]]>
				</SuccessfulLoginRegex>
				<PlatformRegex>Windows</PlatformRegex>
				<PingInterval>10000</PingInterval>
				<MaxFileSize>16777216</MaxFileSize>
				<FailedLoginThreshold>0</FailedLoginThreshold>
			</LogFile>
		</LogFiles>
	</LogFilesToParse>
	<ExpressionsToBlock>
		<Groups>
			<Group>
				<Source>RDP</Source>
				<Keywords>0x8010000000000000</Keywords>
				<Path>Security</Path>
				<FailedLoginThreshold>0</FailedLoginThreshold>
				<Expressions>
					<Expression>
						<XPath>//EventID</XPath>
						<Regex>^(4625|5152)$</Regex>
					</Expression>
					<Expression>
						<XPath>//Data[@Name='IpAddress' or @Name='Workstation' or @Name='SourceAddress']</XPath>
						<Regex>
							<![CDATA[
                (?<ipaddress>.+)
              ]]>
						</Regex>
					</Expression>
					<Expression>
						<XPath>//Data[@Name='ProcessName']</XPath>
						<Regex>
							<![CDATA[
                (?<source_IIS>c:\\Windows\\System32\\inetsrv\\w3wp.exe)?$
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>RDP</Source>
				<Keywords>0x8010000000000000</Keywords>
				<Path>Security</Path>
				<FailedLoginThreshold>0</FailedLoginThreshold>
				<Expressions>
					<Expression>
						<XPath>//EventID</XPath>
						<Regex>^4653$</Regex>
					</Expression>
					<Expression>
						<XPath>//Data[@Name='FailureReason']</XPath>
						<Regex>.</Regex>
					</Expression>
					<Expression>
						<XPath>//Data[@Name='RemoteAddress']</XPath>
						<Regex>
							<![CDATA[
                (?<ipaddress>.+)
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>IPBanCustom</Source>
				<Keywords>0x80000000000000</Keywords>
				<Path>Application</Path>
				<FailedLoginThreshold>0</FailedLoginThreshold>
				<Expressions>
					<Expression>
						<XPath>//Data</XPath>
						<Regex>
							<![CDATA[
                (?<timestamp>\d\d\d\d-\d\d-\d\d\s\d\d:\d\d:\d\d(?:\.\d+)?Z?)?(?:,\s)?ipban\sfailed\slogin,\sip\saddress:\s(?<ipaddress>[^,]+),\ssource:\s(?<source>[^,]+)?,\suser:\s(?<username>[^\s,]+)?
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>MSSQL</Source>
				<Keywords>0x90000000000000</Keywords>
				<Path>Application</Path>
				<FailedLoginThreshold>0</FailedLoginThreshold>
				<Expressions>
					<Expression>
						<XPath>//Provider[contains(@Name,'MSSQL')]</XPath>
						<Regex></Regex>
					</Expression>
					<Expression>
						<XPath>//EventID</XPath>
						<Regex>^18456$</Regex>
					</Expression>
					<Expression>
						<XPath>(//Data)[1]</XPath>
						<Regex>
							<![CDATA[
                ^(?<username>.+)$
              ]]>
						</Regex>
					</Expression>
					<Expression>
						<XPath>(//Data)[2]</XPath>
						<Regex>
							<![CDATA[
                ^(?:(?!Reason:\sFailed\sto\sopen\sthe(?:\sexplicitly\sspecified)?\sdatabase)(?:.))+$
              ]]>
						</Regex>
					</Expression>
					<Expression>
						<XPath>(//Data)[3]</XPath>
						<Regex>
							<![CDATA[
                \[CLIENT\s?:\s?(?<ipaddress>[^\]]+)\]
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>MySQL</Source>
				<Keywords>0x80000000000000</Keywords>
				<Path>Application</Path>
				<FailedLoginThreshold>0</FailedLoginThreshold>
				<Expressions>
					<Expression>
						<XPath>//Provider[@Name='MySQL']</XPath>
						<Regex></Regex>
					</Expression>
					<Expression>
						<XPath>//Data</XPath>
						<Regex>
							<![CDATA[
                Access denied for user '?(?<username>[^']+)'@'(?<ipaddress>[^']+)'
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>PostgreSQL</Source>
				<Keywords>0x80000000000000</Keywords>
				<Path>Application</Path>
				<FailedLoginThreshold>0</FailedLoginThreshold>
				<Expressions>
					<Expression>
						<XPath>//Provider[@Name='PostgreSQL']</XPath>
						<Regex></Regex>
					</Expression>
					<Expression>
						<XPath>//Data</XPath>
						<Regex>
							<![CDATA[
                host=(?<ipaddress>[^ ]+)
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>MSExchange</Source>
				<Keywords>0x80000000000000</Keywords>
				<Path>System</Path>
				<FailedLoginThreshold>0</FailedLoginThreshold>
				<Expressions>
					<Expression>
						<XPath>//Provider[@Name='MSExchangeTransport']</XPath>
						<Regex></Regex>
					</Expression>
					<Expression>
						<XPath>//Data</XPath>
						<Regex>LogonDenied</Regex>
					</Expression>
					<Expression>
						<XPath>//Data</XPath>
						<Regex>
							<![CDATA[
                (?<ipaddress_exact>.+)
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>phpMyAdmin</Source>
				<Keywords>0x80000000000000</Keywords>
				<Path>Application</Path>
				<FailedLoginThreshold>0</FailedLoginThreshold>
				<Expressions>
					<Expression>
						<XPath>//Data</XPath>
						<Regex>phpMyAdmin</Regex>
					</Expression>
					<Expression>
						<XPath>//Data</XPath>
						<Regex>
							<![CDATA[
                user\sdenied:\s+(?<username>[^\s]+)\s+\(mysql-denied\)\s+from\s+(?<ipaddress>.+)
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>SSH</Source>
				<Keywords>0x4000000000000000</Keywords>
				<Path>OpenSSH/Operational</Path>
				<FailedLoginThreshold>0</FailedLoginThreshold>
				<Expressions>
					<Expression>
						<XPath>//Data[@Name='payload']</XPath>
						<Regex>
							<![CDATA[
                failed\s+password\s+for\s+(invalid\s+user\s+)?(?<username>[^\s]+)\s+from\s+(?<ipaddress>[^\s]+)\s+port\s+[0-9]+\s+ssh|
                did\s+not\s+receive\s+identification\s+string\s+from\s+(?<ipaddress>[^\s]+)|
                connection\s+closed\s+by\s+((invalid\s+user\s+)?(?<username>[^\s]+)\s+)?(?<ipaddress>[^\s]+)\s+port\s+[0-9]+\s+\[preauth\]|
                disconnected\s+from\s+(invalid\s+user\s+)?(?<username>[^\s]+)\s+(?<ipaddress>[^\s]+)\s+port\s+[0-9]+\s+\[preauth\]|
                disconnected\s+from\s+(?<ipaddress>[^\s]+)\s+port\s+[0-9]+\s+\[preauth\]|
                disconnected\s+from\s+authenticating\s+user\s+(?<username>[^\s]+)\s+(?<ipaddress>[^\s]+)\s+port\s+[0-9]+\s+\[preauth\]
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>RDP</Source>
				<Keywords>0x4000000000000000</Keywords>
				<Path>Microsoft-Windows-RemoteDesktopServices-RdpCoreTS/Operational</Path>
				<FailedLoginThreshold>0</FailedLoginThreshold>
				<Expressions>
					<Expression>
						<XPath>//Opcode</XPath>
						<Regex>
							<![CDATA[
                ^14$
              ]]>
						</Regex>
					</Expression>
					<Expression>
						<XPath>//Data[@Name='ClientIP' or @Name='IPString']</XPath>
						<Regex>
							<![CDATA[
                (?<ipaddress>.+)
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>VNC</Source>
				<Keywords>0x80000000000000</Keywords>
				<Path>Application</Path>
				<FailedLoginThreshold>0</FailedLoginThreshold>
				<Expressions>
					<Expression>
						<XPath>//EventID</XPath>
						<Regex>^258$</Regex>
					</Expression>
					<Expression>
						<XPath>//Data</XPath>
						<Regex>
							<![CDATA[
                Authentication\sfailed\sfrom\s(?<ipaddress>.+)
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>RRAS</Source>
				<Keywords>0x80000000000000</Keywords>
				<Path>System</Path>
				<FailedLoginThreshold>0</FailedLoginThreshold>
				<Expressions>
					<Expression>
						<XPath>//EventID</XPath>
						<Regex>^20271$</Regex>
					</Expression>
					<Expression>
						<XPath>(//Data)[2]</XPath>
						<Regex>
							<![CDATA[
                (?<username>.*)
              ]]>
						</Regex>
					</Expression>
					<Expression>
						<XPath>(//Data)[3]</XPath>
						<Regex>
							<![CDATA[
                (?<ipaddress>.+)
              ]]>
						</Regex>
					</Expression>
					<Expression>
						<XPath>(//Data)[4]</XPath>
						<Regex>
							<![CDATA[
                denied|(Die\sRemoteverbindung\swurde\sverweigert)
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>SVN</Source>
				<Keywords>0x80000000000000</Keywords>
				<Path>VisualSVNServer</Path>
				<FailedLoginThreshold>0</FailedLoginThreshold>
				<Expressions>
					<Expression>
						<XPath>//EventID</XPath>
						<Regex>^1004$</Regex>
					</Expression>
					<Expression>
						<XPath>(//Data)[1]</XPath>
						<Regex>
							<![CDATA[
                user\s(?<username>.*?):\s\(.*\)\s.*?(falsch|wrong|incorrect|bad)
              ]]>
						</Regex>
					</Expression>
					<Expression>
						<XPath>(//Data)[2]</XPath>
						<Regex>
							<![CDATA[
                (?<ipaddress_exact>.+)
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
		</Groups>
	</ExpressionsToBlock>
	<ExpressionsToNotify>
		<Groups>
			<Group>
				<Source>RDP</Source>
				<Keywords>0x8020000000000000</Keywords>
				<Path>Security</Path>
				<Expressions>
					<Expression>
						<XPath>//EventID</XPath>
						<Regex>^4624$</Regex>
					</Expression>
					<Expression>
						<XPath>//Data[@Name='ProcessName' or @Name='LogonProcessName']</XPath>
						<Regex>winlogon|svchost|ntlmssp</Regex>
					</Expression>
					<Expression>
						<XPath>//Data[@Name='IpAddress' or @Name='Workstation' or @Name='SourceAddress']</XPath>
						<Regex>
							<![CDATA[
                (?<ipaddress>.+)
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>SSH</Source>
				<Keywords>0x4000000000000000</Keywords>
				<Path>OpenSSH/Operational</Path>
				<Expressions>
					<Expression>
						<XPath>//Data[@Name='payload']</XPath>
						<Regex>
							<![CDATA[
                Accepted\s+(?:password|publickey)\s+for\s+(?<username>[^\s]+)\s+from\s+(?<ipaddress>[^\s]+)\s+port\s+[0-9]+\s+ssh
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>IPBanCustom</Source>
				<Keywords>0x80000000000000</Keywords>
				<Path>Application</Path>
				<Expressions>
					<Expression>
						<XPath>//Data</XPath>
						<Regex>
							<![CDATA[
                (?<timestamp>\d\d\d\d-\d\d-\d\d\s\d\d:\d\d:\d\d(?:\.\d+)?Z?)?(?:,\s)?ipban\ssuccess\slogin,\sip\saddress:\s(?<ipaddress>[^,]+),\ssource:\s(?<source>[^,]+)?,\suser:\s(?<username>[^\s,]+)?
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>VNC</Source>
				<Keywords>0x80000000000000</Keywords>
				<Path>Application</Path>
				<Expressions>
					<Expression>
						<XPath>//EventID</XPath>
						<Regex>^257$</Regex>
					</Expression>
					<Expression>
						<XPath>//Data</XPath>
						<Regex>
							<![CDATA[
                Authentication\spassed\sby\s(?<ipaddress>.+)
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
			<Group>
				<Source>RRAS</Source>
				<Keywords>0x8020000000000000</Keywords>
				<Path>System</Path>
				<Expressions>
					<Expression>
						<XPath>//EventID</XPath>
						<Regex>^6272$</Regex>
					</Expression>
					<Expression>
						<XPath>//Data[@Name='SubjectUserName']</XPath>
						<Regex>
							<![CDATA[
                (?<username>[^\\\/]+)$
              ]]>
						</Regex>
					</Expression>
					<Expression>
						<XPath>//Data[@Name='CallingStationID']</XPath>
						<Regex>
							<![CDATA[
                (?<ipaddress>.+)
              ]]>
						</Regex>
					</Expression>
					<Expression>
						<XPath>//Data[@Name='EAPType']</XPath>
						<Regex>
							<![CDATA[
                \s?secured\spassword\s?
              ]]>
						</Regex>
					</Expression>
				</Expressions>
			</Group>
		</Groups>
	</ExpressionsToNotify>
	<appSettings>
		<add key="Active" value="true"/>
		<add key="IPThreatApiKey" value="" />
		<add key="FailedLoginAttemptsBeforeBan" value="10"/>
		<add key="BanTime" value="07:00:00:00"/>
		<add key="ResetFailedLoginCountForUnbannedIPAddresses" value="false" />
		<add key="ClearBannedIPAddressesOnRestart" value="true"/>
		<add key="ClearFailedLoginsOnSuccessfulLogin" value="false"/>
		<add key="ProcessInternalIPAddresses" value="false"/>
		<add key="ExpireTime" value="01:00:00:00"/>
		<add key="CycleTime" value="00:00:00:30"/>
		<add key="MinimumTimeBetweenFailedLoginAttempts" value="00:00:00:01"/>
		<add key="MinimumTimeBetweenSuccessfulLoginAttempts" value="00:00:00:05"/>
		<add key="FirewallRulePrefix" value="ALTINSOFT_"/>
		<add key="Whitelist" value=""/>
		<add key="WhitelistRegex" value=""/>
		<add key="Blacklist" value="https://raw.githubusercontent.com/altinsoft/public-repo/main/ipban-repo/Emerging.txt"/>
		<add key="BlacklistRegex" value=""/>
		<add key="UserNameWhitelist" value=""/>
		<add key="UserNameWhitelistRegex" value=""/>
		<add key="UserNameWhitelistMinimumEditDistance" value="2" />
		<add key="FailedLoginAttemptsBeforeBanUserNameWhitelist" value="20"/>
		<add key="ProcessToRunOnBan" value=""/>
		<add key="ProcessToRunOnUnban" value=""/>
		<add key="FirewallRules" value=""/>
		<add key="UseDefaultBannedIPAddressHandler" value="true" />
		<add key="ExternalIPAddressUrl" value="https://checkip.amazonaws.com/"/>
		<add key="FirewallUriRules" value="BruteForceAttackers,01:00:00:00,https://raw.githubusercontent.com/altinsoft/public-repo/main/ipban-repo/BruteForceAttackers.txt,20000"/>
		<add key="GetUrlUpdate" value=""/>
		<add key="GetUrlStart" value=""/>
		<add key="GetUrlStop" value=""/>
		<add key="IPBanPro_UrlWebSocket" value=""/>
	</appSettings>
</configuration>
